@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    background-color: rgb(206, 199, 192);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nameDetection {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.instructions {
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    color: #303030;
}

/* Main section styles */
section.col-sm {
    background-color: #f5f5f5;
    max-width: 813px;
    /* Set your desired maximum width */
    max-height: 1600px;
    /* Set your desired maximum height */
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
    /* Center horizontally */
    margin-top: 0px;
    margin-bottom: 40px;
    /* Add top margin for vertical centering */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    /* Add this line to hide overflowing content */
}

.new {
    color: #fcfcfc;
    padding: 10px;
    background-color: rgb(124, 123, 121);
    margin-top: -13px;
    text-align: center;
}

.btnCustom {
    background-color: #000000;
    color: #c7c7c7;
    font-weight: bold;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* New styles */
.form-container {
    display: flex;
    justify-content: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form button {
    margin-top: 7px;
}

.menu {
    color: #ffffff;
}

.logo {
    width: 62px;
    height: 62px;
}