@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(206, 199, 192);
}

@keyframes slide {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.nameDetection {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.menu {
    color: #ffffff;
}

.logo {
    width: 62px;
    height: 62px;
}

.carousel {
    width: 50%;
    height: 500px;
    margin-left: 456px;
}

.image-carousel {
    width: 100%;
    height: 500px;
}

.MyBiodata {
    display: flex;
    justify-content: center;
    margin-top: 155px;
    font-weight: bold;
}