@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*, html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}
body {
    background-color: #cec7c0;
}

.nameDetection {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.menu {
    color: #ffffff;
}

.logo {
    width: 62px;
    height: 62px;
}

.set-carousel {
    display: flex;
    justify-content: center;
}

.carousel {
    position: relative;
    width: 600px;

}

.MyBiodata {
    display: flex;
    justify-content: center;
    margin-top: 69px;
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}