@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cec7c0;
}

@keyframes slide {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.nameDetection {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.menu {
    color: #ffffff;
}

.logo {
    width: 62px;
    height: 62px;
}

.carousel {
    width: 50%;
    height: 500px;
    margin-left: 456px;
}

.image-carousel {
    width: 100%;
    height: 500px;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.MyBiodata {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    background-color: #b4afaa;
    margin-bottom: 0px;
}


