@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: sans-serif;
  background-color: rgb(206, 199, 192);
  font-family: 'Poppins', sans-serif;
}

.nameDetection {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.instructions {
  display: flex;
  justify-content: center;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  color: #303030;
}

section {
  margin: 10px auto;
  max-width: 1600px;
}

.feature-box {
  margin-bottom: 10px;
}

.top {
  border-bottom: 1px solid #dddddd;
}

.second {
  border-top: 1px solid #dddddd;
}

.col-sm {
  display: flex;
  justify-content: center;
}

/* Button styles */
.btnHome {
  margin-top: 20px;
  text-align: center;
}

.menu {
  color: #ffffff;
}

.btnCustom {
  background-color: #00C4CC;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.logo {
  width: 62px;
  height: 62px;
}

.output_video {
  width: 1000px;
  height: 700px;
  margin-left: 420px;
  border-radius: 35px;
}

.ic_camera {
  width: 45px;
  height: 45px;
  opacity: 70%;
  margin-top: -650px;
}